*{
    font-family: "Asap", Arial, Helvetica, sans-serif;
    margin: 0;
}

.topbar ul li{
    display: inline;
}

nav.topbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 0;
    width: 100%;
}

header{
    background: url(../img/bg-banner.png);
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre > div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.desc-sobre{
    max-width: 40%;
    margin: 30px;
}


